.pie {
  background: #7c3240e5;
  color: black;
  font-weight: 500; }

.header {
  background: #7c3240e5; }

.textoMap {
  font-family: Georgia, "Times New Roman", Times, serif; }

body {
  background: #f9dede; }
