*{
    margin: 0%;
    padding: 0%;
}

    /*HEADER*/

.logoHeader{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border: solid 2px;
}
    
.header{
    background: rgb(124, 50, 63);
}
      
li{
    font-size: 18px;
    font-weight: 700;
}

main{
    background-image: url(./imagenes/panes1.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    
}

