*{
    margin: 0;
    padding: 0;
}

    /*HEADER*/

.logoHeader{
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: solid 2px;
}
    
.header{
    background: rgb(124, 50, 63);
}
      
li :hover{
    font-size: 18px;
    font-weight: 700;
    
}

    /*MAIN-CONTENIDO*/

main{
    background-image: url(./imagenes/BG1.jpg);
    height: 450px;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    
}

.cuerpoTxt p{
    font-weight: 200;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    height: 70px;
    margin-left: 35%;
    margin-right: 2%;
    margin-top: 2%;
    text-align: right;
}

h1{
    margin-left: 35%;
    margin-bottom: 2%;
}

    /* FOOTER-PIE*/

.pie{
    
    background: rgb(124, 50, 63);
    color: black;
    
}

.pie-logo{
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: solid 2px;
}

.pie-redes a{
    color: black;
}

.pie-contacto{
    font-weight: 500; 
    text-align: end;  
}



/*MAIN-CURSOS*/

.card img{
    display: flex;
    flex-direction: row;
    
    width: 400px;
    height: 300px; 
}


