.pie{
    background:$bgpie-header;
    color: black;
    font-weight: 500;  
}

.header{
    background:$bgpie-header;
}

.textoMap{
    font-family: $tipografia-family;
}

body{
    background: $principal-color;
}



