.carousel-caption p{
    color: $color-tipografia;
    font-size: map-get($tamanio-tipografia, letra-secundaria);
    background: map-get($colores,bg-terciario);
    border: solid 1px;
    font-weight: 650;
}

h5{
    color:$color-tipografia;
    background: map-get($colores,bg-terciario);
    border: solid 1px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    filter: invert(150%);
  }


.imgnormalizada img{
    width: 500px;
    height: 500px;
}

.container-img{
    background: rgba(0, 0, 0, 0.822);
    padding: 5px;
    max-width: 550px !important;
}



